torch
torchvision
torchaudio

transformers>=4.37
tokenizers
huggingface_hub
safetensors

faster-whisper
ctranslate2

sounddevice
soundfile

silero-vad

piper-tts

pandas
numpy
scipy
matplotlib
psutil
gazefollower
mediapipe==0.10.13
scikit-learn
accelerate